/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

/* HTML FONT AND LINE */
html {
    font-family: "inter", sans-serif;
    line-height: 1.5;
}

body {
    padding: 0;
    margin:0;
}
/* IMAGEM - THALES */
img {    
    position: absolute ; 
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 10px  rgb(74, 72, 46);
    left: 80%;
    top: 4%;
    margin: 0.5% ;
  
}

h1, h2, h3, h5 {
    font-family: "inter", serif;
}

/* FOR MOBILE */
header {
    background-color: rgba(239, 235, 7, 0.687);
    color: rgba(58, 4, 4, 0.782);
    padding-bottom: 1rem;
    margin: 0.5% ;
}

h1 {
    margin: 0;
    padding: 1rem;
    font-size: 2.2rem;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

h5 {
    margin: 0;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-style: normal;
    text-align: center;
 
}

/* NAV BAR */
nav {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1rem;
    margin: 0 1rem;
}

nav ul {
    padding: 0;
    padding-bottom: 1rem;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    line-height: 3;
    border-bottom: 1px solid white;
}

nav a {
    text-decoration: none;
    color:rgba(58, 4, 4, 0.782);
}

/* MAIN SECTION MOBILE */

main{
    background-color: rgba(0, 0, 0, 0.057);
    padding-bottom: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem  ;
}
main h2, main p {
    margin: 0 1.5%;
}

main h2 {
    margin-top: 1.5rem;
}

main i{
    color: crimson;
}

#data{
    color:rgba(133, 131, 17, 0.687)
}

#data1{
    color:rgba(239, 235, 11, 0.846);
}



#data2{
    color:RGB(227, 76, 38);
}

#data3{
    color:rgba(41, 101, 241)
}

.educacional{
    line-height: 2.3;
}


span {
    font-weight: bold;
}

.myself {
    padding: 1rem;
    margin: auto ;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.057);
}


.wrapper {
    padding: 1rem;
    margin: auto ;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.057);
}

.wrapper2 {
    padding: 1rem;
    margin: auto ;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.057);
}
.wrapper3 {
    padding: 1rem;
    margin: auto ;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.057);
}


/* FOOTER */
footer {
    border-top: 1px solid #000;
    background-color: rgba(239, 235, 7, 0.687);
}

footer ul {
    padding: 0;
    text-align: right;
}

footer li {
    list-style-type: none;
}

footer i{
    color: rgb(134, 86, 95);
}

footer a{
    text-decoration: none;
    color: black;
    font-size: .9rem;
}

.socialmedia ul li {
    display: inline-block;
    padding: 0.5rem;
}

.content a {
    display: inline-block;
    padding: 0.5rem;;
}

/* 1 - FOR TABLET  */
@media screen and (min-width: 800px){
    /* HEADER */

    img {    
        position: absolute ; 
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 0 10px  rgb(74, 72, 46);
        left: 80%;
        padding: ;
      
    }
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-bottom: 0;
        padding: 0;
    }

    h3 {
        font-size: 2.5rem;
        padding: 0;
    }

    nav {
        border-top: none;
        padding-top: 0;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 1%;
     
    }

    nav ul li {
        line-height: 2.3;
        text-align: center;
        
    }

    .educacional{
        line-height: 2.3;
    }

/* FOR TABLET - MAIN SECTION */

    .objective{
        border: 1px solid rgb(218, 9, 9);
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        border: 1px solid rgb(218, 9, 9);
    }

    .wrapper2 {
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        list-style-type: none;
        line-height: 3;
        border: 1px solid rgb(218, 9, 9);
    }
    .wrapper3 {
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        list-style-type: none;
        line-height: 3;
        border: 1px solid rgb(218, 9, 9);
    }

/* FOR TABLET FOOTER */
    footer ul {
        text-align: center;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1000px){

    img {    
        position: absolute ; 
        width: 220px;
        height: 220px;
        border-radius: 50%;
        box-shadow: 0 0 10px  rgb(74, 72, 46);
        left: 80%;
        top: 7%;
        padding: 0;      
    }

    h1 {
        font-size: 7rem;

    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 900px;
        padding: 1rem;
        text-align: center;
        margin: auto ;
    }

    nav ul li {
         border-bottom: none;
         border-right: 1px dotted white;
    }

    .last-nav-li {
        border: none;
    }
/* MAIN SECTION FOR DESKTOP */

    .objective{
        max-width: 1100px;
        padding: 1rem;
        margin: auto ;
        background-color: rgba(0, 0, 0, 0.057);
    }



    .wrapper {
        max-width: 1100px;
        padding: 1rem;
        margin: auto ;
        background-color: rgba(0, 0, 0, 0.057);
    }

    .wrapper2 {
        max-width: 1100px;
        padding: 1rem;
        margin: auto ;
        background-color: rgba(0, 0, 0, 0.057);
    }

    .wrapper3 {
        max-width: 1100px;
        padding: 1rem;
        margin: auto ;
        background-color: rgba(0, 0, 0, 0.057);
    }

    .professionallife{
        background-color: black;
        color: rgb(226, 43, 43);
    }

/* FOOTER FOR DESKTOP */
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50%;
    }

    footer i {
        font-size: 1.5rem;
    }

}
/* REVIEWWW */


h1 a {
    text-decoration: none;
    color: white;
}
